
// variables

$lightBlue: #eafefc;
$darkYellow: #fce75c;
$lightYellow: #fdf383;
$darkBlue: #2b2a46;
$grey: #575757;
$offWhite: #f9f9f9;
$newGrey: #d4d4d4;


/*<!--general ruleszzzzz-->*/
html {
	font-size: 62.5%;  


}

.wrapper {
    max-width: 1180px;
	margin: 0 auto;
    width: 90%;
    border: red solid 1px;

}

img {
    max-width: 100%;

}